{% extends "base_generic.html" %}

{% block content %}
    <h1>Singer: {{ singer.name}} </h1>

    <p class = "text-muted" >
    <i>{{ singer.description}}</i>
    </p>
    <hr>
    <div style="margin-left:20px;margin-top:20px">
        
        <h4>SONGS</h4>

        {% for song in singer.song_set.all %}
        <div style="margin-left:20px;margin-top:20px">
            <p><strong><a href="{% url 'song-detail' song.pk %}">{{ song.name }}</a></strong></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}